div.dropdown[page='Dashboard'] {
  .dropdown-input {
    background-color: #040620;
    border: 0;
    border-radius: 0.3rem;
    max-width: 100%;
    min-width: 100%;
    height: calc(1.5em + 1rem);
    padding: 0.5rem 0.75rem;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
  }

  .dropdown-input:hover {
    background-color: #040620;
    border: 0;
  }

  .dropdown-input:focus {
    border: 0;
    outline: 0;
  }

  .dropdown-content {
    background-color: #040620;
    border: 0;
    border-radius: 0.3rem;
    max-width: 100%;
    min-width: 100%;
    .dropdown-item {
      font-size: 1rem;
      color: white;
    }
    .dropdown-item:hover {
      color: #040620;
    }
  }
}
